* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 0);
}

@media (min-width: 1200px) {
  .container__carousel {
    padding: 100px;
  }
  .container__carousel .carousel-indicators {
    gap: 15px;
  }
  .container__carousel .carousel-indicators button {
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
  .container__carousel .carousel-inner .carousel-item img {
    height: 650px;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  .container__carousel .carousel-indicators button {
    display: none;
  }
  .container__carousel .carousel-inner .carousel-item img {
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .navbar {
    background-color: rgb(0, 0, 0);
  }
  .navbar a {
    color: white;
  }
  .navbar a:hover {
    background-color: white;
  }
  .navbar .collapse {
    display: flex;
    justify-content: center;
  }
  .navbar .navbar-nav {
    gap: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1279px) {
  .navbar {
    background-color: rgb(0, 0, 0);
  }
  .navbar a {
    color: white;
  }
  .navbar a:hover {
    background-color: white;
  }
  .navbar .collapse {
    display: flex;
    justify-content: center;
  }
  .navbar .navbar-nav {
    gap: 50px;
  }
}
@media (min-width: 770px) and (max-width: 991px) {
  .navbar {
    background-color: rgb(0, 0, 0);
    text-align: center;
  }
  .navbar a {
    color: white;
  }
  .navbar a:hover {
    background-color: white;
  }
  .navbar .navbar-nav {
    gap: 15px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  .navbar {
    background-color: rgb(0, 0, 0);
  }
  .navbar a {
    color: white;
  }
  .navbar a:hover {
    color: rgb(255, 255, 255);
  }
  .navbar .navbar-nav {
    text-align: center;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  .navbar {
    background-color: rgb(0, 0, 0);
  }
  .navbar a {
    color: white;
  }
  .navbar a:hover {
    color: rgb(255, 255, 255);
  }
  .navbar .navbar-nav {
    text-align: center;
  }
}
@media (min-width: 1200px) {
  header .container__header {
    background-image: url(/img/wallpaper.jpg);
    background-size: 100% 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .container__header .logo {
    background-color: rgba(0, 0, 0, 0.663);
    border-radius: 25px;
    margin: 40px;
    height: 400px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  header .container__header {
    background-image: url(../../img/wallpaper.jpg);
    background-size: 100% 100%;
    height: 360px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .container__header .logo {
    background-color: rgba(0, 0, 0, 0.663);
    border-radius: 25px;
    margin: 40px;
    height: 280px;
  }
}
@media (min-width: 481px) and (max-width: 769px) {
  header .container__header {
    background-image: url(../../img/wallpaper.jpg);
    background-size: 100% 100%;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .container__header .logo {
    background-color: rgba(0, 0, 0, 0.663);
    border-radius: 25px;
    margin: 40px;
    height: 280px;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  header .container__header {
    background-image: url(../../img/wallpaper.jpg);
    background-size: 100% 100%;
    height: 190px;
    background-repeat: no-repeat;
    background-position: center;
  }
  header .container__header .logo {
    background-color: rgba(0, 0, 0, 0.663);
    border-radius: 25px;
    margin: 10px;
    height: 160px;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  .container__footer {
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  .container__footer .navbar__footer {
    padding: 15px;
  }
  .container__footer .navbar__footer .navbar__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding: 5px;
  }
  .container__footer .navbar__footer .navbar__list a {
    color: white;
    font-size: 20px;
  }
  .container__footer .footer__logo {
    text-align: center;
  }
  .container__footer .footer__logo img {
    height: 230px;
  }
  .container__footer .container__redes {
    padding: 15px;
    text-align: center;
  }
  .container__footer .container__redes h2 {
    color: white;
  }
  .copyright {
    padding: 10px;
    background-color: black;
  }
  .copyright h4 {
    text-align: center;
    color: white;
  }
}
@media (min-width: 1200px) {
  main .banner {
    text-align: center;
    padding: 18px;
    background-color: rgb(173, 29, 29);
    color: white;
  }
  main .banner h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  main .banner {
    text-align: center;
    padding: 18px;
    background-color: rgb(173, 29, 29);
    color: white;
  }
  main .banner h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 25px;
  }
}
@media (min-width: 1px) and (max-width: 480px) {
  main .banner {
    text-align: center;
    padding: 10px;
    background-color: rgb(173, 29, 29);
    color: white;
  }
  main .banner h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    padding: 0;
  }
  main .container__informacion {
    background-color: black;
  }
  main .container__informacion h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    padding: 5px;
    text-align: center;
    color: white;
  }
  main .container__informacion img {
    height: 195px;
  }
  main .container__informacion .txt__info h3 {
    text-align: center;
    color: white;
  }
  main .container__informacion .txt__info .container__button {
    background-image: url("../../img/wallpaper1.jpg");
    background-size: 100% 100%;
    background-position: center;
    height: 250px;
    display: flex;
    justify-content: center;
  }
  main .container__informacion .txt__info .container__button button {
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(255, 254, 254, 0.636);
    align-self: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border-color: rgb(0, 0, 0);
  }
}
@media (max-width: 480px) {
  main {
    background-color: white;
  }
  main .banner {
    text-align: center;
    padding: 18px;
    background-color: rgb(173, 29, 29);
    color: white;
  }
  main .banner h2 {
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  main .container__productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  main .container__productos .item__producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  main .container__productos .item__producto img {
    height: 130px;
  }
  main .container__productos .item__producto h2 {
    font-size: 20px;
  }
  main .container__productos .item__producto h3 {
    font-size: 17px;
  }
}

/*# sourceMappingURL=styles.css.map */
