@media (min-width: 1200px) {
    .productos {
        background-color: white;
        .banner {
            text-align: center;
            padding: 18px;
            background-color: rgb(173, 29, 29);
            color: white;
            h2 {
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }

        .buscador {
            padding: 30px;
            text-align: center;
            label {
                font-weight: 800;
            }
            input {
                padding: 5px;
                width: 600px;
                border-radius: 50px;
                &:focus{
                    border-color: red;
                    border-style: solid;
                }
            }
            button {
                padding: 5px;
                width: 80px;
                border-radius: 50px;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }

        .container__productos {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 35px;
            padding: 25px;
            margin: 25px;
            .item__producto {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                box-shadow: 1px 1px 15px 3px #000000;
                img {
                    height: 220px;
                    transition:all .5s ease-in-out;
                    overflow:hidden;
                }
                img:hover {
                    transform:scale(1.4);
                }
                h2 {
                    font-size: 20px;
                }
                h3 {
                    margin-top: 50px;
                    font-size: 17px;
                }
            }
        }

        .page__indicators {
            display: flex;
            justify-content: center;
            .pagination{
                gap: 30px;
                a {
                background-color: rgb(170, 33, 33);
                color: white;
                }
            }
        }
    }
}

@media (min-width: 1px) and (max-width: 480px) {
    main {
        background-color: white;
        .banner {
            h2 {
                font-size: 22px;
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }

        .buscador {
            text-align: center;
            padding: 10px;
            background-color: #000000;
            label {
                font-weight:700;
                color: white;
            }
            input {
                padding: 5px;
                width: 220px;
                border-radius: 15px;
            }
            button {
                padding: 5px;
                border-radius: 15px;
                width: 70px;
            }
        }

        .container__productos {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 10px;
            .item__producto {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 10px;
                box-shadow: 1px 1px 5px 1px #000000;
                img {
                    height: 120px;
                }
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 17px;
                }
            }
        }

        .page__indicators {
            padding: 30px;
            display:flex;
            justify-content: center;
            .pagination {
                gap: 20px;
                margin-bottom: 0;
                a {
                    border-color: rgb(110, 109, 109);
                    border-style: solid;
                    color: black;
                }
            }
        }
    }
}