@media (min-width: 1px) and (max-width: 480px) {
    .container__footer {
        display: flex;
        flex-direction: column;
        background-color: black;
        .navbar__footer {
            padding: 15px;
            .navbar__list {
                display: flex;
                flex-direction: column;
                gap: 20px;
                text-align: center;
                padding: 5px;
                a {
                    color: white;
                    font-size: 20px;
                }
            }
        }
        .footer__logo {
            text-align: center;
            img {
                height: 230px;
            }
        }
        .container__redes {
            padding: 15px;
            text-align: center;
            h2 {
                color: white;
            }
        }
    }
    .copyright {
        padding: 10px;
        background-color: black;
        h4 {
            text-align: center;
            color: white;
        }
    }
}